.hero {
  background-image: url('../../assets/img/hero.png');
  background-repeat: no-repeat;
  
  min-height: 667px;
  max-height: 900px;

  color: var(--color-black);

  position: relative;
}

.hero--contacts {
  position: absolute;
  top: 40px;
  right: 40px;
}

@media(max-width:430px) {
  .hero {
    background-image: url('../../assets/img/hero-375x667.png');
    background-size: cover;
    background-position-y: bottom;
  }

  .hero--contacts {
    left: 40px;
  }
}

@media (min-width:430px) and (max-width:1024px) {
  .hero {
    background-image: url('../../assets/img/hero-2.png');
    background-position-y: top;
  }
}


.hero--contacts-icon {
  height: 100px;
}
.hero--description {
  padding-left: 60px;
  padding-top: 127px;

  text-align: left;
}

.hero--greetings {
  
}

.hero--about {
  font-size: var(--size-large);
  line-height: var(--size-large);
}

.hero--name {
  font-weight: 600;
  /* text-shadow: -5px 0 0 var(--color-black); */
}